<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>EC2 api</title>
</head>
<body>
  <h1 id="info">Hello!  歡迎使用</h1>
  <p>機器數量:</p><p id="number"></p>
  <br>
  <button id="action4">1-上傳特定檔案</button>
  <br>
  <button id="action5">2-下載特定檔案</button>
  <br>
  <button id="action6">3-執行</button>
  <br>
  <button id="action8">4-關閉所有伺服器</button>
  <br>
  <div style="border:2px orange solid;padding:15px;">
    <input type="text" id="command">
    <button id="submit">submit</button>
  </div>
  <div id="option">
  </div>
  <br>
  <div style="border:2px orange solid;padding:15px;">
    <div style="height:300px;overflow-y:auto;background-color:pink" id="infoboard"></div>
  </div>
<script>

function getlist(){

var hostnums = parseInt(document.getElementById("number").innerHTML);
var list = new Array()
for(i=1;i<=hostnums;i++){
	if(document.getElementsByName("usehost")[i-1].checked){
		list.push(i);
	}
}
return list;
}


async function download(){
    var data = ""
    var request = new XMLHttpRequest();
    request.open("POST", "/api/msg");
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(data);
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                          document.getElementById("info").innerHTML = "Hello!  歡迎使用";
                          ajax("/api","action=num","number");
                          var msg = document.getElementById("infoboard").innerHTML;
                          msg = msg + data.value;
                          document.getElementById("infoboard").innerHTML = msg;
                    } else {
                          document.getElementById("info").innerHTML = "等待中";
                          var msg = document.getElementById("infoboard").innerHTML;
                          msg = msg + data.value;
                          document.getElementById("infoboard").innerHTML = msg;
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }

}



function instancenum(){
    var request = new XMLHttpRequest();
    request.open("POST", "/api");
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send("action=num");
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                        document.getElementById("number").innerHTML = data.value;
                        var hostnum = parseInt(data.value,10);
                        var msg = '<p>勾選想執行命令的主機</p>';
                        for(i=1;i<=hostnum;i++){
                          if (i<10){
                                    msg = msg+'<label style="margin-right:0.55em"><input type="checkbox" name=usehost value="'+i+'" checked>&nbsp;'+i+'</label>';
                          }else{
                                    msg = msg+'<label><input type="checkbox" name=usehost value="'+i+'" checked>'+i+'&nbsp;</label>';
                          }
                          if (i%10==0){
                                    msg = msg+"<br>"
                          }
                        }
                        document.getElementById("option").innerHTML = msg;
                    } else {
                        document.getElementById("info").innerHTML = "等待中";
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }
}
instancenum();


setInterval(function(){ download(); }, 3000);


async function reload(){
var num = document.getElementById("number").innerHTML;
if (num == 0) {
window.location.reload();
}

}


setInterval(function(){ reload(); }, 5000);





function ajax(path,data,id) {
    var request = new XMLHttpRequest();
    request.open("POST", path);
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(data);
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                        document.getElementById(id).innerHTML = data.value;
                    } else {
                        document.getElementById("info").innerHTML = "等待中";
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }
}






document.getElementById("action4").onclick = function() {
    var uselist = getlist();
    var data = "action=upload&list="+uselist.toString();
    var request = new XMLHttpRequest();
    request.open("POST", "/api");
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(data);
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                        document.getElementById(id).innerHTML = data.value;
                    } else {
                        document.getElementById("info").innerHTML = "等待中";
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }
}

document.getElementById("action5").onclick = function() {
    var uselist = getlist();
    var data = "action=download&list="+uselist.toString();
    var request = new XMLHttpRequest();
    request.open("POST", "/api");
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(data);
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                        document.getElementById(id).innerHTML = data.value;
                    } else {
                        document.getElementById("info").innerHTML = "等待中";
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }
}

document.getElementById("action6").onclick = function() {
    var uselist = getlist();
    var data = "action=exe&list="+uselist.toString();
    var request = new XMLHttpRequest();
    request.open("POST", "/api");
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(data);
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                        document.getElementById(id).innerHTML = data.value;
                    } else {
                        document.getElementById("info").innerHTML = "等待中";
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }


}



document.getElementById("action8").onclick = function() {
    var data = "action=close";
    var request = new XMLHttpRequest();
    request.open("POST", "/api");
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(data);
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                        document.getElementById(id).innerHTML = data.value;
                    } else {
                        document.getElementById("info").innerHTML = "等待中";
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }


}



document.getElementById("submit").onclick = function() {
    var data = "action=command&command="+document.getElementById("command").value;
    document.getElementById("command").value="";
    var request = new XMLHttpRequest();
    request.open("POST", "/api");
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(data);
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                        document.getElementById(id).innerHTML = data.value;
                    } else {
                        document.getElementById("info").innerHTML = "等待中";
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }


}
</script>

</body>
</html>
