<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>EC2 api</title>
</head>
<body>
  <h1 id="info">Hello!  歡迎使用</h1>
  <p>機器數量:</p><p id="number"></p>
  <br>
  <button id="action2">1-開伺服器</button>
  <br>
  <div style="border:2px orange solid;padding:15px;">
    <input type="text" id="command">
    <button id="submit">submit</button>
  </div>
  <br>
  <div style="border:2px orange solid;padding:15px;">
    <div style="height:300px;overflow-y:auto;background-color:pink" id="infoboard"></div>
  </div>
<script>

async function download(){
    var data = ""
    var request = new XMLHttpRequest();
    request.open("POST", "/api/msg");
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(data);
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                          document.getElementById("info").innerHTML = "Hello!  歡迎使用";
                          instancenum();
                          var msg = document.getElementById("infoboard").innerHTML;
                          msg = msg + data.value;
                          document.getElementById("infoboard").innerHTML = msg;
                    } else {
                          document.getElementById("info").innerHTML = "等待中";
                          var msg = document.getElementById("infoboard").innerHTML;
                          msg = msg + data.value;
                          document.getElementById("infoboard").innerHTML = msg;
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }

}



function instancenum(){
ajax("/api","action=num","number");
}



setInterval(function(){ download(); }, 3000);


async function reload(){
var num = document.getElementById("number").innerHTML;
if (num != 0) {
window.location.reload();
}

}


setInterval(function(){ reload(); }, 5000);





function ajax(path,data,id) {
    var request = new XMLHttpRequest();
    request.open("POST", path);
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(data);
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                        document.getElementById(id).innerHTML = data.value;
                    } else {
                        document.getElementById("info").innerHTML = "等待中";
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }
}


document.getElementById("action2").onclick = function() {
    var data = "action=create";
    var request = new XMLHttpRequest();
    request.open("POST", "/api");
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(data);
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                        document.getElementById(id).innerHTML = data.value;
                    } else {
                        document.getElementById("info").innerHTML = "等待中";
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }


}



document.getElementById("submit").onclick = function() {
    var data = "action=command&command="+document.getElementById("command").value;
    document.getElementById("command").value="";
    var request = new XMLHttpRequest();
    request.open("POST", "/api");
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(data);
    request.onreadystatechange = function() {
        if (request.readyState === 4) {
            if (request.status === 200) {
                var type = request.getResponseHeader("Content-Type");
                if (type.indexOf("application/json") === 0) {
                    var data = JSON.parse(request.responseText);
                    if (data.status != "wait") {
                        document.getElementById(id).innerHTML = data.value;
                    } else {
                        document.getElementById("info").innerHTML = "等待中";
                    }
                }
            } else {
                alert("Error" + request.status);

            }
        }
    }


}
</script>

</body>
</html>


